/* цвет вторичного текста #212121;*/
/* цвет основного текста #757575; */
/* цвет акцент #2196F3; */
/* Черный #000000 */
/* Белый #FFFFFF; */
/* контакты в подвале rgba(255, 255, 255, 0.6); */
/* основной цвет фона #E5E5E5; */
/* вторичный цвет фона #F5F4FA;*/
/* цвет фона подвала и банера #2F303A; */
/* :root {
  --hover-color: #2196f3;
  --text-color: #757575;
  --main-background-color: #ffffff;
  --logo-color: #000000;
  --title-color: #212121;
  --color-white: #ffffff;
  --banner-background-color: #c4c4c4;
  --footer-background-color: #2f303a;
  --commands-background-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --portfolio-item-border-color: #eeeeee;
  --icons-color: #afb1b8;
  --main-family: 'Roboto', sans-serif;
  --logo-faily: 'Raleway', sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --header-border: #ececec;
  --border-form-color: rgba(255, 255, 255, 0.3);
} */
/* -------------------------COMPONENTS------------------------- */
/* body {
  font-family: var(--main-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--main-background-color);
} */

/* .list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* a {
  text-decoration: none;
} */

/* .container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
/* -------------------------/COMPONENTS------------------------- */

/* -------------------------HEADER------------------------------ */
/* -----header-components----- */
.menu,
.site-nav,
.header-main {
  display: flex;
}

.header-main {
  align-items: center;
}

.header-main .menu {
  align-items: center;
}

.site-nav .site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .site-nav-item {
  position: relative;
}

.header-main .logo {
  margin-right: 93px;
  font-family: var(--logo-faily);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo span {
  color: var(--hover-color);
}

.header {
  border-bottom: 1px solid var(--header-border);
}

/* ------site nav------*/
.site-nav .link {
  display: block;
  color: var(--title-color);
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav li:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link,
.contacts-nav a {
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav a:hover,
.contacts-nav a:focus,
.site-nav .link-visited {
  color: var(--hover-color);
}

.site-nav .link-visited::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 25%);
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}

/* -----style contacts----- */
.contacts-nav a {
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  fill: currentColor;
}

.contacts-icon {
  margin-right: 10px;
}

.icon-envelope {
  width: 16px;
  height: 12px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
}
/* -------------------------/HEADER------------------------------ */

/* -------------------------STUDIO------------------------------- */
/* -----banner----- */
.banner {
  padding: 200px 0;
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--banner-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 40%),
      rgba(47, 48, 58, 40%)
    ),
    url(../images/decoration/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.banner .container-content {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
}
.banner-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.banner-btn,
.modal-form-btn,
.footer-btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--hover-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  visibility: 0;
  opacity: 1;
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal .modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
}

.modal .modal-btn:hover .icon-close {
  fill: var(--hover-color);
}
/* -----преимущества----- */

.advantages-item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--commands-background-color);
  border-radius: 4px;
}

.advantages-icons {
  width: 70px;
  height: 70px;
}
.advantages {
  padding: 94px 0;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
}
.advantages-list li {
  width: 270px;
}
.advantages h3 {
  margin-top: 0;
  margin-bottom: 10;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.advantages p {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--text-color);
}

/* -----чем занимаемся----- */
.lessons {
  padding-bottom: 94px;
}

.lessons-title,
.comands-title,
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.lessons-site {
  display: flex;
  justify-content: space-between;
}

.lessons-site .lessons-site-box {
  position: relative;
  width: 370px;
  height: 294px;
}

.lessons-site .lessons-site-subbox {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  text-align: center;
}

.lessons-site-box a {
  display: block;
}

.lessons-site-subbox p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

/* -----commands (команда)----- */
.comands {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--commands-background-color);
}
.comands .comands-list {
  display: flex;
  justify-content: space-between;
}
.comands .comands-list > li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: var(--color-white);
}

.comands .commands-container {
  padding: 30px 32px;
  text-align: center;
}

.comands h3 {
  font-weight: 500;
  color: var(--title-color);
}

.comands h3,
.comands p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.comands .subtitle {
  margin-bottom: 10px;
}

/* --commands-list-icon-- */
.commands-list-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commands-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-color);
  fill: currentColor;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.commands-icon a:hover,
.commands-icon a:focus {
  background-color: var(--hover-color);
  color: var(--color-white);
}

.commands-icon .icon-svg {
  width: 20px;
  height: 20px;
}

/* -----clients----- */
.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients .clients-list {
  display: flex;
  justify-content: space-between;
}

.clients .client-box {
  width: 170px;
  height: 90px;
}

.clients .clients-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
  fill: currentColor;
  transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.clients .clients-icon:hover,
.clients .clients-icon:focus {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

/* -------------------------/STUDIO------------------------------- */

/* ------------------------PORTFOLIO------------------------------ */
/* ----portfolio-companents----- */
.portfolio {
  padding: 94px 0;
}
.portfolio .portfolio-items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* ---------portfolio button--------- */

.portfolio .portfolio-items-button:not(:last-child) {
  margin-right: 8px;
}

.portfolio .portfolio-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: var(--commands-background-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--commands-background-color);
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.portfolio .portfolio-btn:hover,
.portfolio .portfolio-btn:focus {
  background-color: var(--hover-color);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ---------portfolio list ---------*/
.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-list .portfolio-box-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-list .portfolio-box-link:hover,
.portfolio-list .portfolio-box-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-box .portfolio-list {
  width: 370px;
  margin: 15px;
  outline: 1px solid var(--portfolio-item-border-color);
  outline-offset: -1px;
}

.portfolio-box-aside {
  padding: 20px 24px;
}

.portfolio .portfolio-list-title {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio .portfolio-list-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-list .portfolio-box-description {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);
}

.portfolio-box-link:hover .portfolio-box-description,
.portfolio-box-link:focus .portfolio-box-description {
  transform: translateY(-100%);
}

.portfolio-list .portfolio-box-description p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.portfolio-description-hover {
  position: relative;
  overflow: hidden;
}

/* ------------------------/PORTFOLIO------------------------------ */

/* ----------------------------FOOTER---------------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}
.footer .logo-white {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--color-white);
}

.footer .logo {
  font-family: var(--logo-faily);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer .address {
  margin-bottom: 9px;
  font-style: normal;
  color: var(--color-white);
}

.footer-contacts li:not(:last-child) {
  margin-bottom: 9px;
  display: inline-block;
}

.footer-contacts a {
  color: var(--footer-contacts-color);
  transition: color 250ms var(--timing-function);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--hover-color);
}

.footer .footer-box-contacts {
  margin-right: 85px;
}

.footer .footer-links {
  margin-right: 93px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-links .footer-links-title,
.footer-form-box .footer-form-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-links .footer-list-icons {
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.1);
}

.footer-links li:not(:last-child) {
  margin-right: 10px;
}

/* ---------footer-form---------- */
.footer .footer-form {
  display: flex;
  align-items: center;
}

.footer .footer-form-label {
  margin-right: 12px;
}

.footer .footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: var(--footer-background-color);
  border: 1px solid var(--border-form-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer .footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.footer-form .footer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-btn span {
  display: inline-block;
  margin-right: 10px;
}

.footer-form-input:not(:placeholder-shown),
.footer-form-input:placeholder-shown {
  border: 1px solid var(--border-form-color);
  outline: none;
  color: var(--color-white);
}
/* ----------------------------/FOOTER--------------------------- */

/* ---------------modal-form----------------- */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal .modal-caption {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.modal .modal-label {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal .modal-input {
  height: 40px;
  padding: 0 12px;
  padding-left: 42px;
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
}

.modal-label .modal-input-box-icon {
  position: absolute;
  top: 29px;
  left: 15px;
  transition: fill 250ms var(--timing-function);
}

.modal-input:placeholder-shown:focus + .modal-input-box-icon,
.modal-input:placeholder-shown:focus,
.modal-form-comment:placeholder-shown:focus,
.modal-input:not(:placeholder-shown):focus + .modal-input-box-icon,
.modal-input:not(:placeholder-shown):focus,
.modal-form-comment:not(:placeholder-shown):focus {
  fill: var(--hover-color);
  border-color: var(--hover-color);
  outline: none;
}

.modal-conditions .conditions-icon-check {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-color);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.modal-conditions .modal-conditions-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.modal-conditions-input:checked + .conditions-icon-check {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
  background-image: url(../images/decoration/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-conditions-input:focus + .conditions-icon-check {
  border-color: var(--hover-color);
}

.modal .modal-input,
.modal .modal-form-comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--timing-function);
}

.modal .modal-form-comment {
  padding: 12px 16px;
}

.modal .modal-labal-comment {
  margin-bottom: 20px;
}

.modal .modal-conditions {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal .modal-conditions-link {
  text-decoration: underline;
  color: var(--hover-color);
}
/* ---------------/modal-form---------------- */
