.menu,
.header-main {
  display: flex;
}

.header-main {
  align-items: center;

  .menu {
    align-items: center;
  }
}

.site-nav-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header {
  border-bottom: 1px solid $header-border;
}
