.site-nav {
  display: flex;

  .link {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-color;
    transition: color 250ms $timing-function;
  }

  .link:hover,
  .link:focus,
  .link-visited {
    color: $hover-color;
  }

  .link-visited::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 25%);
    width: 100%;
    height: 4px;
    background-color: $hover-color;
    border-radius: 2px;
  }
}
