.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background-color;

  &-links {
    margin-right: 93px;
  }

  &-box {
    display: flex;
    align-items: baseline;
  }
}
