.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background-color;
}

.footer .footer-box-contacts {
  margin-right: 85px;
}

.footer .footer-links {
  margin-right: 93px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}
